<!-- views/partials/navbar.ejs -->
<div class="header clearfix">
    <nav>
        <ul class="nav  pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/">Create</a></li>
            <li role="presentation"><a href="/">Archieve</a></li>
            <!-- <li role="presentation"><a href="/">Home</a></li> -->
        </ul>
    </nav>
</div>