<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hero App | New</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <style>
        body { padding-top:15px; background-color: #ccc;}
        img { width: 100%;}
    </style>
              <meta charset="UTF-8">
              <title>Summernote</title>
              <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
              <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
              <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
              <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
              <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>

</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container">
        <div class="panel panel-danger">
            <div class="panel panel-heading text-center">
                <h1>Create a post about an unique anime you like.</h1>
            </div>
            <div class="panel-body" id="all">

                <% if (message) { %>
                <div class="alert alert-success" role="alert">
                    <%= message %>
                </div>
                <% } %> 
                
                <form method="POST" action="">

                    <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3">
                        <label for="exampleInputName">Anime Name:</label>
                        <input type="text" class="form-control" id="exampleInputName" aria-describedby="heroName" placeholder="Anime name.." name="aniName">
                        <!-- <small id=heroName" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3">
                            <label for="exampleInputURL">Image URL</label>
                            <input type="text" class="form-control" id="exampleInputURL" placeholder="Link to series image" name="image_url">
                    </div>
                    
                    <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3">
                        <label for="exampleInputName">Genres:</label>
                        <input type="text" class="form-control" id="exampleInputName" aria-describedby="heroName" placeholder="Anime genres.." name="genre">
                        <!-- <small id=heroName" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>

                    <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3">
                        <label for="exampleInputName">Author's Name:</label>
                        <input type="text" class="form-control" id="exampleInputName" aria-describedby="heroName" placeholder="Name of Author.." name="author">
                        <!-- <small id=heroName" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>

                    <div class="form-group col-xs-40 col-sm-10 col-sm-offset-1">
                        <label for="exampleInputName">Post description here:</label>
                        <!-- <input type="text" class="form-control" id="exampleInputURL" placeholder="Link to hero image" name="image_url"> -->
                        
                        <!-- <div id="summernote"> -->
                            <!-- <div type="text" class="form-control" id="exampleInputName" aria-describedby="heroName" placeholder="Name of Author.." name="description"> -->
                                    <textarea id="summernote" name="description"></textarea>
                        <!-- </div> -->
                      
                    </div>
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                        <button type="submit" class="btn btn-success btn-block">Post</button>
                    </div>

                </form>

            </div>
            <div class="panel-footer text-center">
                <p>All rights reserved 2019 | Cbazil.</p>
            </div>
        </div>
    </div>
    <script>
            $(document).ready(function() {
                $('#summernote').summernote();
            });

    </script>

</body>
</html>