<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Otaku Hub</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <style>
        body {
            padding-top: 15px;
            background-color: #ccc;
        }

        img {
            width: 100%;
        }

        #banner-image {
            margin-top: -20px;
            width: 100%;
            height: 110vh;
            background-image: url('https://i.imgur.com/8z7iaMO.jpg');
            background-repeat: no-repeat;
            /* background-position: center; */
            background-size: cover;
            /* margin: 0; */
            display: flex;
        }

        #banner-image>img {
            width: 100% !important;
            height: 100% !important;
            object-fit: contain;
            margin: 0;
            display: block;

        }
        
        #intro_landing {
            /* position: relative; */
            display: flex;
            color: white;
            justify-content: center;
            align-self: center;
            justify-self: stretch;
            flex-direction: column;
            width: 100%;
            padding: 20px;
            background-color: black;
            opacity: .6;
            text-align: center;
        }

        #intro_landing>h2 {
            font-size: 2em;
        }

        #intro_landing>p {
            font-size: 1em;
        }
        .field {
            margin: 20px 15%;
        }
    </style>
</head>

<body>
    <header>
        <%- include('partials/navbar') %>
            <div id="banner-image">

                    <div id="intro_landing">
                        <h2>Welcome to the realest hype, Welcome to Otaku Hub!, Post your views, Theories etc.. Feel at home</h2>
                        <p>Post about your favourite anime/manga, Make friends and explore the world of anime some more, which others views and reviews.</p>
                    </div>

            </div>
            <!-- <div class="field">
                <label class="label">Name</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Text input">
                </div>
              </div>
              
              <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-success" type="text" placeholder="Text input" value="bulma">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <p class="help is-success">This username is available</p>
              </div>
              
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-exclamation-triangle"></i>
                  </span>
                </div>
                <p class="help is-danger">This email is invalid</p>
              </div>
              
              <div class="field">
                <label class="label">Subject</label>
                <div class="control">
                  <div class="select">
                    <select>
                      <option>Select dropdown</option>
                      <option>With options</option>
                    </select>
                  </div>
                </div>
              </div>
              
              <div class="field">
                <label class="label">Message</label>
                <div class="control">
                  <textarea class="textarea" placeholder="Textarea"></textarea>
                </div>
              </div>
              
              <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox">
                    I agree to the <a href="#">terms and conditions</a>
                  </label>
                </div>
              </div>
              
              <div class="field">
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="question">
                    Yes
                  </label>
                  <label class="radio">
                    <input type="radio" name="question">
                    No
                  </label>
                </div>
              </div>
              
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link">Submit</button>
                </div>
                <div class="control">
                  <button class="button is-text">Cancel</button>
                </div>
              </div> -->
              
    </header>
    
    

</body>

</html>